body {
    margin: 0;
    padding: 0;
    font-family: cursive;
}
h1 {
    font-size: 18px; 
    line-height: 1.5; 
    position: absolute;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.732), 1px -1px 0 rgba(255, 255, 255, 0.732), -1px 1px 0 rgba(255, 255, 255, 0.732), 1px 1px 0 rgba(255, 255, 255, 0.732);
    font-family: cursive;
    top: 10%;
    left: 15%; 
}
#main-interface {
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;
    position: relative;
    margin: 0;
    padding: 0;
    background-image: url('background-images/main\ interface.day.png'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#main-interface1 { /* 钢琴曲 */
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;
    position: relative;
    margin: 0;
    padding: 0;
    background-image: url('background-images/sky-day.png'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#main-interface2 { /* 纯音乐 */
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;
    position: relative;
    margin: 0;
    padding: 0;
    background-image: url('background-images/day-day.png'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#main-interface3 { /* 流行音乐 */
    width: 100%; 
    height: 100vh;
    background-color: #f0f0f0;
    position: relative;
    margin: 0;
    padding: 0;
    background-image: url('background-images/city-day.jpg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#main-interface4 { /* 白噪音 */
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;
    position: relative;
    margin: 0;
    padding: 0;
    background-image: url('background-images/tree.day.png'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#split-interface {
    width: 25%;
    height: 100%;
    background-color: rgba(237, 234, 226, 0.7);
    font-size: 24px;
    position: absolute;
    top: 0;
    left: -20%;
    transition: left 0.5s ease;
}
#modeIconButton {
    position: fixed;
    bottom: 10%;
    left: 80%;
    transform: translateX(-95%);
    background-color: #f0f0f000;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    width: 7%; 
    height: 7%;
}
#statusIconButton {
    position: fixed;
    bottom: 10%;
    left: 30%;
    transform: translateX(-50%);
    background-color: #f0f0f000;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    width: 6%; 
    height: 6%;
}
#playStopButton {
    position: fixed;
    bottom: 10%;
    left: 80%;
    background-color: #f0f0f000;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    width: 10%; 
    height: 10%;
}
#timerDisplay {
    display: none; 
    position: fixed;
    bottom: 20%;
    left: 52%;
    color:#000;
    transition: top 0.5s ease;
    transition: left 0.5s ease;
    transform: translate(-50%, -50%);
    font-size: 2vw;
    font-family: fantasy;
}
#congratsMessage {
    display: none;
    position: fixed;
    color:#000;
    bottom: 20%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: 2vw;
    font-family: fantasy;
}
#inputContainer {
    display: none;
}
.button1 {
    position: fixed;
    top: 1%;
    left: 0.5%;
    z-index: 1;
    padding: 0;
    width: 4%;
    height: 7%;
    background-image: url('icons/music-library.png');
    background-color: #f0f0f000;
    display: block;
    border: none;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.split-button {
    display: none;
    position: absolute; 
    padding: 10px 20px;
    background-color: #ffffff00;
    color: #000;
    border: none;
    cursor: pointer;
    font-family: cursive;
}
.music-button{
    position: absolute; 
    padding: 10px 20px;
    background-color: #ad202000;
    color: #000;
    display: block;
    border: none;
    cursor: pointer;
    pointer-events: auto;
    font-size: 15px;
    z-index: 2;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.732), 1px -1px 0 rgba(255, 255, 255, 0.732), -1px 1px 0 rgba(255, 255, 255, 0.732), 1px 1px 0 rgba(255, 255, 255, 0.732);
    font-family: cursive;
}
#Task {
    background-color: #f0f0f000;
    position: relative;
    margin: 0;
    padding: 10;
    top: 15%;
    left: 15%;
    z-index: 2;
    pointer-events: auto;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.732), 1px -1px 0 rgba(255, 255, 255, 0.732), -1px 1px 0 rgba(255, 255, 255, 0.732), 1px 1px 0 rgba(255, 255, 255, 0.732);
}

#taskContainer {
    position: absolute;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.732), 1px -1px 0 rgba(255, 255, 255, 0.732), -1px 1px 0 rgba(255, 255, 255, 0.732), 1px 1px 0 rgba(255, 255, 255, 0.732);
    top: 20%;
    left: 15%;
  }
#taskList {
    list-style-type: none;
    padding: 0;
  }
  .taskItem {
    margin-bottom: 10px;
  }
  .taskItem.completed {
    text-decoration: line-through;
  }
